<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
  <link rel="stylesheet" href="lib/chosen/chosen.css">

  <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <script src="lib/chosen/chosen.jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <title>AngularJS + Chosen Plugin</title>
</head>
<body>
<div class="container" ng-controller="RecipientsController">
  <h1>Chosen</h1>
  <select data-placeholder="Choose a Recipient" multiple class="span4 chzn-select" chosen
      ng-model="recipients" ng-options="recipient.name for recipient in recipientsList">
  </select>

  <p ng-repeat="recipient in recipients"><strong>{{recipient.name}}</strong></p>
</div>
</body>
</html>